@import url("https://use.typekit.net/pae4ftg.css");
@font-face {
    src: url("https://use.typekit.net/pae4ftg.css");
    font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
.mobil{
    display: none;
}
.laptop{
    display: block;
}
body{
    background-color: #201F1F;
} 
h1{
    font-family: "campaign-serif", sans-serif;
    color: white;
    font-size: 4vw;
    line-height: 1.2;
    font-weight: lighter;
} 
.friH1{
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 5.5vw;
    margin-left: 5%;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: lighter;
}
p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.7vw;
    line-height: 1.5;
}
.Service{
    margin-top: 20vh;
}
.Trosa{
    color: #EDCBE0;
}
.Tneong{
    color: #ADFD82;
}
.Tlysg{
    color: #D2F69E;
}
.Torange{
    color: #FA8655;
}
.Trod{
    color: #FE4F32;
}
.storH1{
    font-size: 3vw;
}

/*----------------------------navigation/header----------------------------------*/ 
.navigation{
    height: 70px;
    background-color: #201F1F;
    border-bottom: solid 1px white;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 8px;
    top: 0;
    
}
#burger-menu{
    display: none;
}
.navlink{
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15pt;
    flex-direction: row;
}
.navlink:hover{
    color: #D2F69E;
}
.navlink h3:hover{
    color: #D2F69E;
}
#menu{
    width: 100%;
}

#logolink{
    font-size: 30pt;
    font-family: "campaign-serif", sans-serif;
    margin-left: 2%;
    margin-right: 15%;
    margin-top: -2.5vh;
}
#logo{
    width: 4%;
}
#kontakt{
    color: #D2F69E;
}
#kontakt:hover{
    color: #ADFD82;
}

#xul{
    display: flex;
    padding-top: 20px;
    width: 100%;    
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content{
    color: #ffff;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 60px;
    background-color: #201F1F;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 35px; 
    display:none;
}
.dropdown:hover{
    background-color: #201F1F;
}
.dropdown:hover .dropdown-content{
    display: block flex;   
}


/*--------------Forside----------------*/
#forsidetop{
    width: 95%;
    height: 70vh;
    display: flex;
}
#ramme{
    width: 65%;
    height: 70vh;
    text-align: right;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: 30vh;
    background-position-x: 10%;
}
.blad{
    width: 100%;
    margin-top: 5vh;
    height: 60vh;
    margin-right: -5%;
}
.animation{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: -5%;
}
#forsidetop h1{
    font-size: 15vw;   
    color:#FA8655;
    padding-top: 17vh;
}
#forsidetop h3{
    font-size: 4vw;
    padding-right: 4%;
    
}
.btndiv{
    width: 60%;
    margin-left: 40%;
    display: flex;
    margin-top: 4vh;

}
.btn{
    width: 50%;
    height: 6vh;
    border: solid 2px white;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-top:1.25vh;
}
.btnpil{
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #FA8655;
    display: flex;
    padding-top: 1.25vh;
    padding-left: 7%;
}

.pil{
    width: 15%;
    margin-top: -2vh;
    margin-left: 3%;
}
/*-------------------genbrugsclasses-----------------------------------------*/
.flex{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.KompEt{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30vh;  
    margin-bottom: 10vh;
    flex-direction: row-reverse;
    justify-content: space-between;  
}
.row{
    flex-direction: row;
}
.rosa{
    background-color: #EDCBE0;
}
.rosatxt{
    color: #EDCBE0;
}
.orange{
    background-color: #FA8655;
}
.lysgron{
    background-color: #D2F69E;
}
.neongron{
    background-color: #ADFD82;
}
.rod{
    background-color: #FE4F32;
}
.mgrå{
    color: #201F1F;
}



/*grafisk element-----*/
.figurramme{
    width: 35vw;
    height: 35vw;
    display: flex;
}
.aflang{
    height: 100%;
    border-top-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
    width: 50%;
    object-fit: cover;
    border: solid 1px #707070
}
.tosma{
   width: 50%;
   height: 100%;
}
.enrund{
    width: 100%;
    height: 50%;
    border-top-right-radius: 50%;
    border: solid 1px #707070
}
.torund{
    width: 100%;
    height: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: solid 1px #707070
}


/*--------------KOMPTO------------------*/
.KompTo{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20vh;
}
.Abaggrund{
    width: 45%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.Abaggrund h3{
    margin-left: 22%;
    margin-top: 20vh;
    color: #201F1F;
    font-size: 2vw;
}
.komptoTxt{
    width: 45%;
    margin-top: 15vh;
    margin-left: 5%
}
.komptoTxt p{
    margin-bottom:3vh;
}

/*-------------3---------*/

.KompTre{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20vh;
    display: flex;
}
.treimg{
    width: 40%;
    height: auto;
}
.komptretxt{
    width: 100%;
    margin-top: 20%;
}
.komptretxt h1{
    padding-left: 5%;
    border-bottom: solid 1px rgb(116, 100, 100);
    padding-bottom: 2vh;
    padding-right: 10%;
    margin-bottom: 2vh;
    color: #ADFD82;
    font-size: 4.5vw;
}
.komptretxt p{
    margin-bottom: 3vh;
    margin-left: 5%;
    margin-right: 10%;
}
.komptretxt .btn{
    margin-left: 5%;
}
.bladimg{
    border-top-right-radius:  50% 30%;
    border-bottom-left-radius:  50% 30%;
}

/*--------------KompFire-------------*/
.KompFire{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20vh;
}
.tombshapeEt{
    width: 20vw;
    height: 80vh;
    background-color: #EDCBE0;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}
.tombBaggrundEt{
    background-size: 110%;
    width: 20vw;
    height: 80vh;
    background-color: #EDCBE0;
    background-repeat: no-repeat;
    background-position-y: bottom;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}
.tombBaggrundTo{
    background-size: 110%;
    width: 20vw;
    height: 65vh;
    margin-top: 15vh;
    background-color: #ADFD82;
    background-repeat: no-repeat;
    background-position-y: bottom;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}
.tombBaggrundTre{
    height: 70vh;
    margin-top: 10vh;
    background-color: #D2F69E;
    background-repeat: no-repeat;
    background-size: 119%;
    background-position-y: bottom;
}
.tombtxt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;
    padding-top: 3vh;
}
.tombBaggrundTre{
    height: 70vh;
    margin-top: 10vh;
    background-color: #D2F69E;
    width: 20vw;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}
.tombBaggrundFire{
    background-color: #FA8655;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: bottom;
    background-position-x: -7vh;
}
.tombtxt h1{
    margin-left: 6%;
    font-size: 12vw;
}
.tombtxt h3{
    font-size: 2vw;
    color: #FE4F32;
    padding-left: 5%;
}
.tombtxt p{
    padding-left: 5%;
    
}
.tsTo{
    height: 65vh;
    background-color: #ADFD82;
    margin-top: 15vh;
}
.tsTre{
    height: 70vh;
    margin-top: 10vh;
    background-color: #D2F69E;
}
.tsFire{
    background-color: #FA8655;
}
.teamKompfire{
    text-align: center;
    margin-top: 7vh;
}
.teamKompfire h3{
    color: #201F1F;
    font-weight:300; 
}
.teamKompfire p{
    color: #201F1F;
}
/*-----------KOMPFEM----------------*/

.storRamme{
    width: 35vw;
    height: 35vw;
    margin-right: 7%;
}
.SR{
    display: flex;
    width: 100%;
    height: 33%;
}
.SRmidt{
    display: flex;
    width: 100%;
    height: 34%;
}
.rundHT{
    width: 33.33%;
    height: 100%;
    border-top-right-radius: 50%;
    border: solid 1px #707070;
}
.rundHB{
    width: 33.33%;
    height: 100%;
    border-bottom-right-radius: 50%;
    border: solid 1px #707070;
}
.rundVT{
    width: 33.33%;
    height: 100%;
    border-top-left-radius: 50%;
    border: solid 1px #707070;
}
.rundVB{
    width: 33.33%;
    height: 100%;
    border-bottom-left-radius: 50%;
    border: solid 1px #707070;
}
.SRmidtlille{
    width: 33.33%;
}
.SRmidtL{
    width: 33.33%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border: solid 1px #707070;
}
.SRimg{
    width: 66.66%;
    object-fit: cover;
    border-bottom-left-radius: 40% 60%;
    border-top-right-radius: 40% 60%;
    border: solid 1px #707070;
}
.leftalign{
    margin-left: 0%;
}
.storbtn{
    width: 110%;
}
.storH1{
    font-size: 5vw;
}
.flip{
    flex-direction: row-reverse;
}
/*-----------------KOMP6----------------*/
.KompSeks{
    width: 90%;
    margin-left: 5%;
    height: 70vh;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20vh;
   
}
.OmbilledeR{
    margin-top: -27vh;
    margin-bottom: -37vh;
    border-top-left-radius: 30%55%;
    border-bottom-right-radius: 30%50%;
    width: 90%;
    margin-left: 5%;
    background-size: 60%;
}
.OmBillede{
    border-top-left-radius: 30%55%;
    border-bottom-right-radius: 30%50%;
    object-fit: cover;
    width: 100%;
    height: 70vh;   
    object-position: 0px 0px;
}

.omteam{
    width: 60%;
    object-fit: cover;
    margin-left: 20%;
    object-position: bottom;
}
.gralogoStj{
    width: 25%;
    z-index: 1;
}
.KompSeks h1{
    color: #FA8655;
    font-size: 12vw;
    text-align: right;
    z-index: 1;
}

/*-----------KompSyv----------*/
.KompSyv{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    margin-bottom: 20vh;
}
.SyvText{
    width: 60%;
}
.SyvText h1{
    margin-bottom: 4vh;
}
.hvidstjerne{
    width: 8vw;
    height: 8vw;
    margin-right: -5%;
    z-index: 2;
    margin-top: 35vh;
}
#Tlysgron{
    color: #D2F69E;
}
.Lilleramme{
    margin-top: 5vh;
    width: 25vw;
    height: 25vw;
}
.LSaflang{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 25% 60%;
    border-bottom-right-radius: 25% 60%;
}
.LSramme{
    width: 100%;
    height: 50%;
    display: flex;
}
.LilleV{
    width: 50%;
    height: 100%;
    border-top-right-radius: 50%;
}
.LilleH{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 50%;
}
/*-------------KompOtte--------------*/
.KompOtte{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20vh;
}
.streg{
    width: 73%;
    height: 1px;
    background-color: white;
    margin-left: 27%;
    margin-bottom: 3vh;
}
.flextext{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.flextext h1{
    width: 15%;
    font-size: 15vw;
    margin-top: -5vh;
    font-weight: lighter;
}
.flextext h2{
    width: 30%;
    color: white;
    font-weight: lighter;
    margin-left: 10%;
}
.flextext p{
    width: 40%;
}
.StjerneCirkler{
    display: flex;
    width: 23vw;
    justify-content: space-between;
    margin-left: 27%;
    margin-top: -10vh;
}
.cirkelramme{
    width: 10vw;
    height: 10vw;
}
.cirkeltop{
    width: 100%;
    height: 50%;
    display: flex;
}
.StjerneOtte{
    width: 8vw;
    height: 8vw;
    margin-top: 2vh;
}
.CTV{
    width: 50%;
    height: 100%;
    border-top-left-radius: 100%;
    background-color: #ADFD82;
}
.CTH{
    width: 50%;
    height: 100%;
    border-top-right-radius: 100%;
    background-color:#EDCBE0;
}
.CBV{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 100%;
    background-color: #FA8655;
}
.CBH{
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 100%;
    background-color: #FE4F32;
}
.colorunset{
    background-color: unset;
}
/*-------kompni-------------*/
.KompNi{
    width: 90%;
    margin-left: 5%;
    border-top: solid 1px white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
    padding-top: 5vh;
}
.LilleHT{
    width: 50%;
    height: 100%;
    border-top-right-radius: 50%;
    border: solid 1px #707070
}
.deg180{
    transform: rotate(180deg);
}
.LSaflangRotate{
    width: 100%;
    height: 51%;
    margin-bottom: -1px;
    object-fit: cover;
    border-top-right-radius: 25% 60%;
    border-bottom-left-radius: 25% 60%;
}
.regular{
    font-size: unset;
}
.komp9text{
    width: 65%;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.komp9text h3{
    font-size: 3vw;
}
.casetext{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lyserodpil{
    width: 8%;
}
.displayNone{
    display: none;
}
/*-------------------------------------------*/
/*-------seervice side-------*/
.serviceDiv{
    width: 90%;
    margin-left: 5%;
    display: flex;
    border-top: solid 1px white;
    padding-top: 10vh;
    margin-bottom: 10vh;
}
.txtLeft{
    width: 55%;
    padding-right: 5%;
    border-right: solid 1px white;
}
.txtLeft h1{
    margin-bottom: 3vh;
    font-size: 5vw;
}
.txtLeft .btnpil{
    width: 40%;
    height: 5vh;
    padding-left: 0%;
    margin-top: 3vh;
}
.txtLeft .btnpil .pil{
    margin-top: -0.5vh;
}
.txtRight{
    width: 41%;
    padding-left: 1%;
    height: 100%;
    padding-left: 5%;
    border-left: solid 1px white;
    margin-left: -1px;
}
.txtRight h3{
    margin-bottom: 3vh;
    font-size: 2vw;
    margin-top: 6.5vh;
}
.txtRight p{
    font-size: 1.1vw;
}
.serviceStreg{
    margin-left: 30%;
    margin-right: 5%;
    height: 1px;
    background-color: white;
    margin-top: 10vh;
    margin-bottom: 20vh;
}
/*----------------cases-------------*/
.casePage{
    margin-top: 10vh;
}
.topH1{
    margin-left: 5%;
    font-size: 6vw;
    margin-bottom: 13vh;
}
.deg90{
    transform: rotate(-90deg);
}
/*-------omAvenir---------*/
.OmPage{
    margin-top: 15vh;
}
/*---------Baredygtig----------*/
.Baredygtig{
    margin-top: 20vh;
}
/*-------------TEAM PAGE--------*/
.Teamdiv{
    width: 90%;
    margin-left: 5%;
    display: flex;
    margin-bottom: 20vh;
    padding-top: 10vh;
    justify-content: space-between;
}
.TeamdivLeft{
    width: 47%;
}
.TeamdivLeft h1{
    font-size: 5.5vw;
}
.TeamdivRigth{
    width: 47%;
    padding-top: 3vh;
}
.TeamdivRigth p{
    margin-bottom: 3vh;
}
.blad{
    width: 100%;
    margin-top: 5vh;
    height: 60vh;

}
.h1-p{
    width: 55%; 
    padding-right: 5%;
}
.h1-p h1{
    margin-bottom: 4vh;
}





@media only screen and (max-width: 1000px){
    .mobil{
        display: block;
    }
    .laptop{
        display: none;
    }
    h1{
        font-size: 10vw;
    }
    p{
        font-size: 5vw;
    }
    /*-------------burger---------------*/
    .navlink{
        font-size: 7vw;
    }
    #burger-menu{
        display: block;
    }
    #burger-menu span{
        margin-top: 20px;
        margin-right: 20px;
    }
    #burger-menu span,
    #burger-menu span::before,
    #burger-menu span::after {
        background: #ffff;
        display: block;
        height: 3px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before,
    #burger-menu span:after {
            content: "";
    }
    #burger-menu span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }
    #burger-menu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }
    #burger-menu span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }
    #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
    }
    #burger-menu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
    }
    #burger-menu.close span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
    }
    #Mlogo{
        width: 6%;
        margin-right: 2%;
        margin-top: 10px;
    }
    #Mlogolink{
        font-family: "campaign-serif", sans-serif;
        font-size: 7vw;
        color: #ffff;
    }
    #menu {
        z-index: 1;
        min-width: 100%;
        min-height: 100vh;
        position: fixed;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
        visibility: visible;
        opacity: 1;
        margin-top: 50px;
        background-color: #201F1F;

    }
    #xul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 15%;
        height: 70vh;
        margin-top: 20px;
        text-align: center;
        padding-top: 10vh;
 
    }
    .dropdown-content{
       margin-bottom: 4vh;
       font-size: 12pt;
    }

    /*------------forside----------------*/

    #forsidetop{
        flex-direction: column;
        height: 100vh;
    }
    .blad{
        width: 95%;
        height: 50%;
    }
    #ramme{
        height: 50vh;
        width: 90%;
        margin-left: 5%;
        text-align: left;
    }
    #forsidetop h1{
        padding-top: 1vh;
        font-size: 20vw;
    }
    #forsidetop h3{
        font-size: 8vw;
    }
    .btndiv{
        width: 70%;
        margin-left: 0%;
        flex-direction: column;
        margin-top: 2vh;
    }
    .btn{
        width: 80%;
        height: 4vh;
        font-size: 5vw;
        padding-top: 0.5vh;
    }
    .btnpil{
        font-size: 5vw;
        padding-top: 2vh;
    }
    .pil{
        margin-top: -0.6vh;
    }
    
    .KompEt{
        margin-top: 10vh;
        flex-direction: column-reverse;
    }
    .figurramme{
        width: 90vw;
        height: 90vw;
    }
    .aflang{
        height: 100%;
        width: 50%;
        border-top-right-radius: 25vw;
        border-bottom-left-radius: 25vw;
    }
    .h1-p{
        width: 90%;
        margin-bottom: 5vh;
    }
    .row{
        flex-direction: column;
    }
    
    /*-------------KOMP TO-------------*/
    .KompTo{
        flex-direction:column-reverse;
    }
    .Abaggrund{
        width: 100%;
        height: 40vh;
    }
    .Abaggrund h3{
        margin-top: 12vh;
        font-size: 5vw;
    }
    .komptoTxt{
        width: 90%;
        margin-top: 10vh;
    }
    /*----3-------*/
    .KompTre{
        flex-direction: column;
    }
    .treimg{
        width: 100%;
    }
    .komptretxt{
        margin-top: 0%;
    }
    .komptretxt h1{
        font-size: 17vw;
    }
    .komptretxt p{
        margin-left: 0%;
        width: 100%;
    }
    .komptretxt .btn{
        margin-left: 0%;
        margin-bottom: 4vh;
    }

    /*-----kompfire---------*/
    .KompFire{
        flex-direction: column;
        
    }
    .tombshapeEt{
        width: 100%;
        border-radius: 45vw;
        height: 85vh;
        margin-top: 10vh;
    }
    .tombBaggrundEt,
    .tombBaggrundTre,
    .tombBaggrundTo{
        width: 100%;
        border-radius: 45vw;
        height: 85vh;
        margin-top: 10vh;
    }
    .tombtxt{
        padding-bottom: 10vh;
    }
    .tombtxt h1{
        font-size: 50vw;
        margin-left: 8%;
    }
    .tombtxt h3{
        font-size: 8vw;
    }
    .tombtxt p{
        width: 90%;
        margin-left: 5%;
        font-size: 7vw;
    }
    /*----------kompfem-------*/
    .storRamme{
        width: 90vw;
        height: 90vw;
        margin-left: 0%;
        margin-bottom: 6vh;
    }
    .storH1{
        font-size: 17vw;
    }


    /*---------komp6---------*/

    .gralogoStj{
        width: 55%;
        margin-top: -7vh;
        margin-bottom: 5vh;
    }
    .KompSeksB{
        width: 90%;
        margin-left: 5%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .OmbilledeR{
        border-top-left-radius: 50% 30%;
        border-bottom-right-radius: 50% 30%;
        margin-bottom: -20vh;
        margin-top: -15vh;
        height: 70vh;
    }
    .OmBillede{
        border-top-left-radius: 50% 30%;
        border-bottom-right-radius: 50% 30%;
        height: 70vh;
        margin-top: 2vh;
        object-position: 45% 50%;
    }
    .objPos{
        object-position: 70%;
    }
    .KompSeks h1{
        font-size: 22vw;
        margin-top: 6vh;
    }
    /*------------Komp7---------_-----*/
    .KompSyv{
        flex-direction: column;
    }
    .SyvText{
        width: 100%;
    }
    .hvidstjerne{
        width: 20vw;
        height: 20vw;
    }
    .Lilleramme{
        margin-top: -40vh;
        margin-left: 10vw;
        width: 80vw;
        height: 80vw;
    }
    /*-----------kompotte-----------------*/
    
    .flextext{
        flex-direction: column;
    }
    .streg{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 2vh;
    }
    .flextext h1{
        font-size: 50vw;

    }
    .flextext h2{
        width: 80%;
        margin-bottom: 4vh;
        font-size: 7.5vw;
    }
    .flextext p{
        width: 90%;
        margin-left: 5%;
    }
    .StjerneCirkler{
        width: 80%;
        margin-left: 10%;
        margin-top: 5vh;
    }
    .cirkelramme{
        width: 30vw;
        height: 30vw;
    }
    .StjerneOtte{
        width: 30vw;
        height: 30vw;
        margin-top: 0vh;
    }
    /*------------kompni----------*/
    .KompNi{
        flex-direction: column;
    }
    .deg180{
        width: 90vw;
        height: 90vw;
        margin-top: 10vh;
        margin-left: 0;
    }
    .komp9text{
        width: 100%;
        padding-top: 3vh;
        justify-content: unset;
    }
    .komp9text h3{
        font-size: 10vw;
    }
    .casetext{
        justify-content: unset;
        gap: 5%;
    }
    /*-----------serviceside---------------*/
    .serviceDiv{
        flex-direction: column;
    }
    .txtLeft{
        width: 100%;
        border-right: unset;
    }
    .txtLeft .btnpil{
        width: 100%;
    }
    .txtLeft h1{
        font-size: 15vw;
    }
 
    .txtRight{
        width: 100%;
        margin-left: 0px;
        border-left: unset;
        padding-left: 0%;
    }
    .txtRight h3{
        font-size: 7vw;
        margin-top: 12vh;
    }
    .txtRight p{
        font-size: 4vw;
    }
    .serviceStreg{
        width: 90%;
        margin-left: 5%;

    }
    .servieH2{
        text-align: right;
        
    }
    .storH1{
        font-size: 11vw;
    }
   /*-------------case--------*/
   .casePage{
    margin-top: 15vh;
   }
   .topH1{
    font-size: 20vw;
    margin-bottom: 7vh;
   }
   .deg0{
    margin-top: 9vh;
    margin-left: 0;
    width: 90vw;
    height: 90vw;
   }
   .deg90{
    margin-top: 10vh;
    margin-left: 0;
    width: 90vw;
    height: 90vw;
   }
   /*------------------teampage-------*/
   .Teamdiv{
    flex-direction: column;
    padding-top: 0vh;
    margin-top: -5vh;
   }
   .TeamdivRigth{
    width: 100%;
   }
   .TeamdivLeft{
    width: 100%;
   }
   .TeamdivLeft h1{
    font-size: 10vw;
    margin-bottom: 2vh;
   }

}
